@font-face {
  font-family: 'Author-Regular';
  src: url('fonts/Author-Regular.woff2') format('woff2'),
    url('fonts/Author-Regular.woff') format('woff'),
    url('fonts/Author-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: fallback;
  font-style: normal;
}


body {
  /* background-image: linear-gradient(#f2c744, #006C67); */
  background: #FEC90E;
  /* background: linear-gradient(90deg, rgba(235, 201, 93, 1) 11%, rgba(255, 73, 176, 1) 90%); */
  font-family: author;
  overflow-x: hidden;
  box-sizing: border-box;
}

.landing {
  background: #FFEBA5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -.5rem;
  margin-top: -6.25rem;
  height: 100vh;
  padding-left: 10rem;
  position: relative;
}

/* #landing div {
  position: absolute;
} */

.landing button {
  width: 10rem;
  height: 4rem;
  color: #000;
  font-family: Author;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 0.8125rem;
  background: #FFA6F6;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#little-alli {
  max-width: 1000px;
  /* position: absolute; */
}

.resume-container {
  display: flex;
  flex-direction: inline;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 7%;
  margin-right: 7%;
  padding: 3rem;
  margin-top: 2rem;

}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-left: 5%;
  margin-right: 5%;
  gap: 4rem;
  align-items: center;
}

.grid-center {
  grid-column: span 2;
  width: 50%;
}

.resume-container div {
  width: 45%;
  min-width: 300px;
  margin: 1rem;
}

.resume-container li {
  list-style-type: circle;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* #typing {
  animation: typing 5s steps(22) 1s infinite alternate;
} */

.current-page {
  text-decoration: underline #FF49B0;
}


h3 {
  font-size: 1.5rem;
}

h4 {
  font-family: author;
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: -1rem;
}

h5 {
  font-family: author;
  font-weight: 300;
  font-size: 1rem;
}

h6 {
  font-family: author;
  font-weight: 300;
  font-size: 1rem;
  font-style: italic;
  /* margin-top: -5rem; */
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  padding-right: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background: #FEC90E;
}

.icons {
  display: flex;
}

.icons img {
  height: 3rem;
  margin: .5rem;
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icons img {
  height: 2rem;
}

ul {
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  margin: 1rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}

nav li:hover {
  transform: scale(1.1);
  /* box-shadow: 0 0 10px #FF49B0; */
}

nav a {
  color: #000;
  font-family: Author;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(1fr, 2);
  grid-template-rows: repeat(3, auto);
  /* gap: 1rem; */
  column-gap: 6rem;
  /* align-items: center; */
  max-width: 80%;
  margin: 0 auto;
  /* background: #e8e8e1; */

}

.L {
  grid-column-start: 1;
  grid-row-start: 1;
}

.LB {
  grid-column-start: 1;
  grid-row-start: 2;
  display: flex;
  align-items: center;
}

.R {
  grid-column-start: 2;
  grid-row-start: 2;
}

.RA {
  grid-column-start: 2;
  grid-row-start: 1;
}

/* #arrow styles */



.center-con {
  display: flex;
  /* height: 100vh; */
  align-items: center;
  justify-content: center;
}

.round {
  position: relative;
  border: 3px solid #fff;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.round span {
  z-index: 999;
  height: 3px;
  margin: 1px;
  width: 30px;
  background: #fff;
  transition: 0.4s ease;
}

.round span:first-child {
  display: block;
  position: absolute;
  transform: rotate(45deg);
  left: 25%;
  bottom: 35%;
}

.round span:nth-child(2) {
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  left: 45%;
  bottom: 35%;
}

.round span:nth-child(3) {
  display: block;
  position: absolute;
  transform: rotate(45deg);
  left: 25%;
  bottom: 54%;
}

.round span:nth-child(4) {
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  left: 45%;
  bottom: 54%;
}

.round:hover span:nth-child(1) {
  transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
  transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
  transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
  transform: rotate(-225deg);
}


/* next and prev button styles */


#nextButton {
  rotate: -90deg;
  background: none;
}

#prevButton {
  rotate: 90deg;
  background: none;
}

#prevButton span:nth-child(2) {
  bottom: 45%;
}

#prevButton span:nth-child(1) {
  bottom: 45%;
}

#nextButton span:nth-child(2) {
  bottom: 45%;
}

#nextButton span:nth-child(1) {
  bottom: 45%;
}

/* 
button span:first-child {
  bottom: %
}

button span:nth-child(2) {
  bottom: 15%;
} */

h1 {
  color: #000;

  /* Big! */
  font-family: Author;
  /* font-size: 3rem; */
  font-size: 8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  width: 35.875rem;
  height: 6.8125rem;
  flex-shrink: 0;
}

h2 {
  color: #000;
  font-family: Author;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 596;
  line-height: normal;
}

p {
  color: #000;
  font-family: Author;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 375;
  line-height: normal;
}

/* .deemph {
  font-weight: 300;
} */

.bodycopy {
  color: #000;
  font-family: Author;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 375;
  line-height: normal;
}

#niche {
  list-style-type: none;
  color: #000;
  font-family: Author;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


/* PORTFOLIO ITEMS */

#gallery {
  display: flex;
  justify-content: space-between;
  /* Distribute space between items */
  align-items: stretch;
  /* Stretch items vertically */
  flex-wrap: wrap;
  /* Allow items to wrap to the next row */
  /* margin: 10px; */
  padding: 20px;
  /* background: #d49c04; */
}


.gallery-item {
  flex: 0 0 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  margin: 10px;
  position: relative;
  box-sizing: border-box;
  transition: .2s ease-in;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  max-width: 100%;
}

.case-image {
  width: calc(50%);
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.overlap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: calc(-22vh);
  opacity: 0;
  animation: forwards appear 1s 3s linear;

}


@keyframes rotateCounterclockwise {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.gallery-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

.edgecase {
  flex-direction: row-reverse;
}

.circle {
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;

  /* animation: rotateCounterclockwise 15s linear infinite; */
}

/* Center the text horizontally */
/* display: flex;
  align-items: center;
  position: relative;
  justify-content: center; */

/* animation: rotateCounterclockwise 15s linear infinite */


#arrow {
  flex: 1;
  height: 100px;
  position: absolute;
  z-index: 2;
}

/*  styles for about page  */
.headshot {
  max-width: 90%;
  margin-bottom: 2rem;
}

.v {
  max-height: 80%;
}


.about-content {
  margin-left: 2rem;
  max-width: 100%;
}

.emph {
  font-weight: 600;
}

.page-title {
  display: flex;
  margin-left: 10%;
  margin-bottom: -5%;
  font-size: 3rem;
}

.case-study {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: flex-start;
  /* justify-content: center; */
}

.case-overflow {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 12%;
  /* align-items: center; */
}


.photo-caption {
  font-size: 1.5rem;
  font-weight: 200;
  margin-top: .25rem;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.case-study * {
  flex: 1 0 calc(33.333% - 2rem);
  margin-bottom: -1rem;
  padding-right: 2rem;
  box-sizing: border-box;
}

.case-study li {
  margin-bottom: .5rem;
  list-style-type: disc;
}

.case-title {
  margin-bottom: -1.5rem;
}

.caption {
  font-weight: 200;
  font-size: 1.5rem;
}


.tools {
  font-family: author;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 1rem;
  /* margin-top: -4rem;
  margin-bottom: -2.5rem; */
}

.swoop-png {
  margin-left: 10%;
  margin-right: 10%;
  width: calc(25%);

}

#downloadprompt {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 20%;
  padding-top: 1.5rem;
}

iframe {
  height: 25rem;
  /* width: calc(50% - 20px); */

}

.iframe-container {
  width: 50%;
}

.case {
  width: 100%;



  /* 
.page-header {
  display: flex;
  align-items: center;
} */

  /* BELOW THIS POINT ARE ALL MEDIA QUERY STYLES */

  /* MOBILE STYLES */
  @media screen and (max-width: 767px) {

    /* font size mobile scaling */
    body,
    html {
      font-family: author;
      margin: 0;
      padding: 0;
    }

    p {
      font-size: 1.25rem;
    }

    h1 {
      font-size: 1.5rem;
    }

    h2 {
      font-size: 1.25rem;
    }

    h3 {
      font-size: .75rem;
    }



    /* gallery page mobile layout */
    .grid-container {
      width: 100vh;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    /* about page mobile layout */


    /* .about-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      margin-left: 5%;
      margin-right: 5%;
      gap: 1rem;
      align-items: center;
    } */

    /* resume page mobile layout */